<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tyf.yhy.family.mapper.FamilyReplyMapper" >
  <resultMap id="BaseResultMap" type="tyf.yhy.familyshare.entity.FamilyReply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="reply_id" property="replyId" jdbcType="VARCHAR" />
    <result column="comment_id" property="commentId" jdbcType="VARCHAR" />
    <result column="reply_content" property="replyContent" jdbcType="VARCHAR" />
    <result column="from_user" property="fromUser" jdbcType="VARCHAR" />
    <result column="to_user" property="toUser" jdbcType="VARCHAR" />
    <result column="reply_time" property="timeCreate" jdbcType="VARCHAR" />
  </resultMap>
   <select id="select" resultMap="BaseResultMap" parameterType="tyf.yhy.base.entity.Paginator">
       select * from family_reply where comment_id =#{query.commentId})
  </select>
  <delete id="deleteByReplyId">
    delete from family_reply
    where share_id =#{replyId}
      </delete>
  <insert id="insert" parameterType="tyf.yhy.famliy.entity.Family" >
    insert into family_reply (reply_id, comment_id, reply_content, from_user, to_user,reply_time)
    values (#{replyId}, #{commentId}, #{replyContent}, #{fromUser},#{toUser},#{timeCreate})
  </insert>
</mapper>